.serchbar {
    position: relative;
    float: left;
}

.person{
    border: black 1px dashed;
    height: 340px;
    width: 600px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.person_holder{
    display: flex;
    flex-direction: column;
}

.person_link{
    text-decoration: none;
    color: black;
}
.person_link:visited{
    text-decoration: none;
    color: black;
}
.person_link:active{
    text-decoration: none;
    color: black;
}
.person_link:hover{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    flex-direction: row;
}