{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block content %}
            <nav class="navbar navbar-light bg-light">
              <form class="form-inline" action="{% url 'mainapp:generate' %}"#}
{#                  method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {{ quantity }}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Сгенерировать персон</button>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick=location.href="{% url 'mainapp:create' %}">Создать персону</button>
              </form>
            </nav>
            </form>
    <br>
    <div class="container">
        <div class="person_holder">
            {% for person in persons %}
                <a class='person_link' href="{% url 'mainapp:person' person.id %}"><div class="person">
                    <p>Имя - {{ person.name }}</p>
                    <p>Дата рождения - {{ person.dob }}</p>
                    <p>Пол - {{ person.sex }}</p>
                    <p>Номер телефона - {{ person.cellphone_number }}</p>
                    <p>Начало обучения - {{ person.start_of_studying }}</p>
                    <p>Окончание обучения - {{ person.end_of_studying }}</p>
                    <p>Группа в университете - {{ person.group }}</p>
                    <p>Университет - <br>{{ person.university_name }}</p>
                </div></a>
            {% endfor %}
            <div class="pagiantor">
                {%  if persons.has_previous %}
                    <a href="{% url 'mainapp:person_page' persons.previous_page_number %}"><</a>
                {% endif %}
                <span class="current">
                    Страница {{ persons.number }} из {{ persons.paginator.num_pages }}
                </span>
                {% if persons.has_next %}
                    <a href="{% url 'mainapp:person_page'  persons.next_page_number %}">></a>
                {% endif %}
            </div>
        </div>
        <div class="serchbar">
            <h2>Поиск в базе</h2>
            <form action="{% url 'mainapp:serch' %}"
              method='post' enctype="multipart/form-data">
            {{serch_bar.as_p}}
            <br>
            <button class="btn btn-info" type="submit">Поиск</button>
        </form>
        </div>


    </div>

{% endblock %}