{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block content %}
    <div>
        <form action="{% url 'mainapp:generate' %}"
              method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{quantity}}
            <br>
            <input type='submit' value='Сгенерировать персон'>
        </form>
        <br>

        <button onclick=location.href="{% url 'mainapp:create' %}">Создать персону</button>
    </div>

    <div class="container">


    </div>

{% endblock %}